# Datafram from file
[Link to recording 1](https://ithogskolan.sharepoint.com/:v:/s/AI23/EUH5OGibW_1IvG5im7lHTbABuGuSZAKUQ7dFYTqZ3WhAzA?e=1v1DPN)  
[Link to recording 2](https://ithogskolan.sharepoint.com/:v:/s/AI23/ETPOC8bHsidEifllq7-prTgBFC1nEm7ozH_AlCJhdI065w?e=Aaw86O)
- Pandas supports loading data from multiple file formats, including excep, csv, json, xml.

In [1]:
import pandas as pd

Läs in csv fil
- header = 0, läser första raden som header, default
- header = None osv

In [7]:
#pd.read_csv("../Data/students.csv", header = None)
students = pd.read_csv("../Data/students.csv")
students.head(1)

  class                             email  name
0  AI23  adam@gmail.com, adam@hotmail.com  adam

## Läs in .json
- .json är en array med objekt, varje objekt blir en rad i Pandas

In [10]:
autos = pd.read_json("../Data/autos_json.json")
autos.head()

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,...,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,...,audi,164.0,four,four,5500.0,13950.0,3.40,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,...,audi,164.0,five,four,5500.0,17450.0,3.40,2,99.4,66.4

## Läs in Excel-fil
- måste installer **openpyxl** biblioteket
- skiprows för att skippa rader i början som inte innehåller relevant data.
- Man kan transponera med transpose()

In [17]:
befolkning = pd.read_excel("../Data/be0101_tab8samdrag2022mar.xlsx", skiprows=3)
#befolkning.head().transpose()
befolkning.head()

,Unnamed: 0,2022,2021,2020,2019,2018,2017,2016,2015,2014,...,1986,1985,1984,1983,1982,1981,1980,1975,1970,1960
0,Folkmängd 31 december,10521556,10452326,10379295,10327589,10230185,10120242,9995153,9851017,9747355,...,8.381515e+06,8.358139e+06,8.342621e+06,8.330573e+06,8.327484e+06,8.323033e+06,8.317937e+06,8.208442e+06,8.081229e+06,7.497967e+06
1,Män,5298324,5260707,5222847,5195814,5142438,5082662,5013347,4930966,4872240,...,4.137513e+06,4.127110e+06,4.120549e+06,4.116137e+06,4.117357e+06,4.118622e+06,4.119822e+06,4.081263e+06,4.035911e+06,3.740119e+06
2,Kvinnor,5223232,5191619,5156448,5131775,5087747,5037580,4981806,4920051,4875115,...,4.244002e+06,4.231029e+06,4.222072e+06,4.214436e+06,4.210127e+06,4.204411e+06,4.198115e+06,4.127179e+06,4.045318e+06,3.757848e+06
3,Antal personer 0-17 år,2194785,2198240,2189403,2180508,2155379,2121598,2076407,2025077,1985282,...,1.836443e+06,1.844497e+06,1.865377e+06,1.893161e+06,1.925186e+06,1.956842e+06,1.977226e+06,2.012638e+06,2.007012e+06,2.046306e+06
4,Personer 0-17 år i % av hela befolkningen,20.9,21,21.1,21.1,21.1,21,20.8,20.6,20.4,...,2.191063e+01,2.206827e+01,2.235960e+01,2.272546e+01,2.311846e+01,2.351116e+01,2.377063e+01,2.451912e+01,2.483548e+01,2.729148e+01

### Variationer
- man kan ange hur många rader man vill se med head(antal rader)
- tail() ger slutet
- sample(5) ger 5 random sample rader
- bara skriva autos ger head och tail, med det max antal rader man har angivit i set_option.

In [28]:
autos.head(10)
autos.tail()
autos.sample(5)
autos

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,std,sedan,3.58,18,8.8,3012,rwd,front,173,ohcv,mpfi,gas,55.5,23,134.0,188.8,volvo,95.0,six,four,5500.0,21485.0,2.87,-1,109.1,68.9
203,turbo,sedan,3.01,26,23.0,3217,rwd,front,145,ohc,idi,diesel,55.5,27,106.0,188.8,volvo,95.0,six,four,4800.0,22470.0,3.40,-1,109.1,68.9
204,turbo,sedan,3.78,19,9.5,3062,rwd,front,141,ohc,mpfi,gas,55.5,25,114.0,188.8,volvo,95.0,four,four,5400.0,22625.0,3.15,-1,109.1,68.9

### Pandas options

In [27]:
#pd.set_option("display.max_columns", 6) # visar max 6 kolumner
pd.set_option("display.max_columns", None) # ingen begränsning
pd.set_option("display.max_rows", 6)

### shape propertyn
- returnerar antal rows och columns

In [31]:
rows, columns = autos.shape
print(f"dataframe has {rows} rows and {columns} columns.")

dataframe has 205 rows and 26 columns.

In [33]:
rows = len(autos)
columns = len(autos.columns)

### info metoden
- ger en överblick av datasetet, tex vart det saknas data, vad det är för datatyper, storlek,

In [35]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   body-style         205 non-null    object
 2   bore               201 non-null    float64
 3   city-mpg           205 non-null    int64
 4   compression-ratio  205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-size        205 non-null    int64
 9   engine-type        205 non-null    object
 10  fuel-system        205 non-null    object
 11  fuel-type          205 non-null    object
 12  height             205 non-null    float64
 13  highway-mpg        205 non-null    int64
 14  horsepower         203 non-null    float64
 15  length             205 non-null    float64
 16  make               205 non-null    object
 17  normalized-losses  164 non-null    float64
 18  num-of-cylinders   205 non-null    object
 19  num-of-doors       203 non-null    object
 20  peak-rpm           203 non-null    float64
 21  price              201 non-null    float64
 22  stroke             201 non-null    float64
 23  symboling          205 non-null    int64
 24  wheel-base         205 non-null    float64
 25  width              205 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

### Convert to common formats

In [ ]:
autos.to_clipboard() # kopierar dataframen till clip board, så man kan klistra in det i excel tex

In [40]:
csv_string = autos.to_csv()
print(csv_string[:500])

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168

### gör en csv fil av autos
- index=None gör att indexen inte skrivs till csv filen, vilket man ofta inte vill ha med
- alla dataframes har index

In [41]:
autos.to_csv("../Data/autos.csv", index=None)

### skriva till .json
- default skriver den kolumn för kolumn
- om man skriver orient="records" skriver den rad för rad.

In [42]:
autos.to_json("../Data/new_autos.json", orient="records")

In [43]:
json_string = autos.to_json(indent=4, orient="records")
print(json_string[0:200])

[
    {
        "aspiration":"std",
        "body-style":"convertible",
        "bore":3.47,
        "city-mpg":21,
        "compression-ratio":9.0,
        "curb-weight":2548,
        "drive-wheels":

### till dictionary
- ger en lista av dictionaries

In [45]:
my_dict = autos.to_dict(orient="records")
print(my_dict[0])

{'aspiration': 'std', 'body-style': 'convertible', 'bore': 3.47, 'city-mpg': 21, 'compression-ratio': 9.0, 'curb-weight': 2548, 'drive-wheels': 'rwd', 'engine-location': 'front', 'engine-size': 130, 'engine-type': 'dohc', 'fuel-system': 'mpfi', 'fuel-type': 'gas', 'height': 48.8, 'highway-mpg': 27, 'horsepower': 111.0, 'length': 168.8, 'make': 'alfa-romero', 'normalized-losses': nan, 'num-of-cylinders': 'four', 'num-of-doors': 'two', 'peak-rpm': 5000.0, 'price': 13495.0, 'stroke': 2.68, 'symboling': 3, 'wheel-base': 88.6, 'width': 64.1}

### XML
- extendable markup language
- liknande .json, fyller liknande syfte
- XML används tex för vektorgrafik, som .svg filer, man kan ladda ner sådan fil och kolla hur den ser ut
- [Svenska flaggan som .svg](https://upload.wikimedia.org/wikipedia/commons/4/4c/Flag_of_Sweden.svg)
- Tryck visa sidkälla eller liknande